@page "/"
<h3>Hello World</h3>
<button class="btn btn-primary" @onclick="OnButtonClick">Ping Me</button>

@if (IsVisible)
{
   <h5>Blazor component is clicked.</h5>
}

@code {
    public bool IsVisible { get; set; }
    protected void OnButtonClick()

    {
        IsVisible = true;
    }
}